<div class="title">
    <h2>{{restaurant_name}} Menu</h2>
</div>
<div class="search-box">
    <div class="md-form ">
        <input mdbInput type="text" name="searchTerm"  placeholder="Search for a menu item" [(ngModel)]="searchTerm" id="form1" class="form-control">
    </div>
    <div>
        <button (click)="onSearchSubmission()" type="button" class="btn btn-dark">Search</button>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 menu">
    <div *ngFor = "let item of menu">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="{{item.image}}" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="card-text">price :${{item.price}} calories: {{item.calories}}</p>
                </div>
            </div>
        </div>  
    </div>
</div>
