<div class="title">
    <h2>{{restaurantName}} Menu</h2>
</div>
<div class="search-box">
    <div class="md-form ">
        <input mdbInput type="text" name="searchTerm"  placeholder="Search for a menu item" [(ngModel)]="searchTerm" id="form1" class="form-control">
    </div>
    <div>
        <button (click)="onSearchSubmission()" type="button" class="btn btn-dark">Search</button>
    </div>
</div>

<div class="menu">
    <div *ngFor = "let section of menu">
        <h1>{{section.tag}}</h1>
        <div class="row mb-4">
            <div *ngFor = "let item of section.dishes">
                <div class="card h-100">
                    <img src="https://media.discordapp.net/attachments/666763770327990345/679081001019768849/Final_Logo.png?width=571&height=571" class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{item.Name}}</h4>
                        <p class="card-text">price: {{item.Price}}$ calories: {{item.Calories}}</p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
