<app-title subtitle="Daily Digest"></app-title>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="Image Coming">
        <div class="card-body">
          <h5 class="card-title">Daily Digest</h5>
          <p class="card-text">Summary with come here</p>
        </div>
      </div>
     </div>  
    <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Image Coming">
          <div class="card-body">
            <h5 class="card-title">Daily Digest</h5>
            <p class="card-text">Summary with come here</p>
          </div>
        </div>
     </div>
    <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Image Coming">
          <div class="card-body">
            <h5 class="card-title">Daily Digest</h5>
            <p class="card-text">Summary with come here</p>
          </div>
        </div>
      </div>
    <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Image Coming">
          <div class="card-body">
            <h5 class="card-title">Daily Digest</h5>
            <p class="card-text">Summary with come here</p>
          </div>
        </div>
      </div>
    <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Image Coming">
          <div class="card-body">
            <h5 class="card-title">Daily Digest</h5>
            <p class="card-text">Summary with come here</p>
          </div>
        </div>
      </div>
    <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Image Coming">
          <div class="card-body">
            <h5 class="card-title">Daily Digest</h5>
            <p class="card-text">Summary with come here</p>
          </div>
        </div>
      </div> 
    <div class="col mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Image Coming">
          <div class="card-body">
            <h5 class="card-title">Daily Digest</h5>
            <p class="card-text">Summary with come here</p>
          </div>
        </div>
      </div>     
  </div>