<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <div routerLink=''><i class="fa fa-fw fa-home"></i> Home</div>
    <div routerLink='/login'><i class="fa fa-fw fa-sign-in"></i> Login</div>
    <div routerLink='/Register'><i class="fa fa-fw fa-user"></i> Register</div>
    <div routerLink='/DailyDigest'><i class="fa fa-fw fa-user"></i> Daily Digest</div>
    <div class="right" routerLink='/login'><i></i> Other Stuff</div>
</div>

