<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <div routerLink=''><i class="fa fa-fw fa-home"></i> Home</div>
    <div routerLink='/building'><i class="fa fa-fw fa-building"></i> Building</div>
    <div routerLink='/login'><i class="fa fa-fw fa-sign-in"></i> Login</div>
    <div routerLink='/Register'><i class="fa fa-fw fa-user"></i> Register</div>
    <div routerLink='/DailyDigest'><i class="fa fa-fw fa-archive"></i> Daily Digest</div>
    <div routerLink='/UserProfile'><i class="fa fa-fw fa-user-circle"></i> My Account</div>
    <div routerLink='/Cart'><i class="fa fa-fw fa-shopping-cart"></i> My orders</div>
    <div class="right" routerLink='/login'><i></i> Other Stuff</div>
</div>

